# Banco de dados
# Local (SQLite):
DATABASE_URL="file:./dev.db"
# Produção (PostgreSQL):
# DATABASE_URL="postgresql://user:password@host:5432/master_pagamentos"

# NextAuth
NEXTAUTH_SECRET="troque-por-uma-string-longa-e-aleatoria"
NEXTAUTH_URL="http://localhost:3000"
